body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #888888;
  background-color: white;
}

.menu-father {
  background-color: #707070;
  height: 160px;
  margin-bottom: 250px;
}

.menu-pos {
  background-color: #707070;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 40px 0 120px;
  overflow: visible;
  text-align: center;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
}

.menu-neg {
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

.menu-pos h1 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.menu-pos h2 {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.menu-pos p {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.menu-pos a {
  font-weight: 500;
  color: #888888;
  text-decoration: none;
}

.menu-pos button {
  border-radius: 4px;
  border: 1px solid #707070;
  box-shadow: 0px 1px 6px #00000029;
  padding: 12px 31px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  margin: 50px 20px 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto 20px;
  gap: 5%;
  width: 60%;
}

.heroRight h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.heroRight p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.heroLeft {
  margin-bottom: 80px;
}

.heroLeft form {
  display: flex;
  flex-direction: column;
}

.heroLeft label {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 7px;
}

.heroLeft input.campo {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  height: 30px;
  width: 340px;
}

.heroLeftSexo input {
  width: 14px;
  height: 14px;
}

.heroLeftSexo {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 20px;
  gap: 40px;
}

.heroLeft button {
  background: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.selecaoProdutos h3 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.1em;
  color: #888888;
  border-bottom: 1px solid #888888;
  margin: 10px 0 20px;
}

.selecaoProdutos span {
  background: #FFFFFF;
  padding: 0 10px;
}